/*  The official website of Reza Sadeghi
	my email: reza@knoesis.org
 */
body{
  font: 15px/1.5 Helvetica Neue;
  padding:0;
  margin:0;
  background-color: white;
}

/* Global */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
}

a {text-decoration: none; color:rgb(21,78,170); }

nav a:hover{
	color:rgb(198,80,50);
}

#rest a:hover{
	font-weight: bold;
}

.page-title{
	color:rgb(198,80,50);
}



ul{
  margin:0;
  padding:8px;
}

nav{
	position:fixed;
	float:left;
	width:20%;
	margin-top:40px;
	margin-left:20px;
}

nav img{
	width:90%;
}

nav ul a{
	color:rgb(68,68,68);
	font-weight: bold;
}

header img{
	display:none;
}

#rest{
  float:right;
  width:80%;
  margin-top:10px;
}
  
.pic{
	 width:40%;
}

.des{
	width:60%;
	text-align:justify;
}

.spic{
	display:none;
}

footer{
	text-align:center;
}
  
@media(max-width: 800px){
nav{
	display:none;
	width:0%;
	margin:0;
}

#rest{
	float:center;
	width:100%;
}

header img{
	display:inline;
	float:right;
	width:200px;
}

}

@media(max-width: 600px){
nav{
		display:none;
		width:0%;
		margin:0;
}

#rest{
	float:center;
	width:100%;
}

header img{
	display:inline;
	float:left;
	padding-right:1000px;
}

.pic{
	 display:none;
}

.des{
	width:100%;
	text-align:justify;
}

.spic{
	display:inline;
	width:100%;
}

}




